---
interface Props {
  title: string;
  description: string;
  image: string;
  dag: string;
  sted: string;
  tid: string;
  type: string;
}

const { title, description, image, dag, sted, tid, type } = Astro.props;
---

<div class="event-card" data-dag={dag} data-sted={sted} data-tid={tid} data-type={type}>
  <img src={image} alt={title} />
  <div class="info">
    <h3>{title}</h3>
    <p>{description}</p>
    <a href="#" class="cta-btn">Se mere</a>
  </div>
</div>
